.git
.github
.cnb.yml
frontend/node_modules
frontend/dist
frontend/*.tsbuildinfo
backend/vendor
backend/node_modules
backend/storage/logs/*.log
backend/storage/framework/cache/data
backend/storage/framework/sessions
backend/storage/framework/views
backend/.env
backend/bootstrap/cache/*.php
website/node_modules
website/build
analysis-worker/.venv
analysis-worker/__pycache__
**/*.pyc
